<li class='notification' data-id='<%= notification.id %>' data-notification-target="notification" data-action="click->notification#markAsRead" >
  message received on Chatroom <%= message.chatroom.id %> by <%= message.user.nickname %> at <%= message.created_at %>
</li>
